/* * {
  box-sizing: border-box;
}*/

body{
  color: #FFF;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.lists {
  margin-top: -150px;
}

footer {
  margin: 50px 0;
  padding-bottom: 20px;
  text-align: center;
}

.loading {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer a {
  text-decoration: none;
  color: #DB202C;
  font-weight: bold;
  background-color: #FFF;
}

footer a:hover {
  color: #1B7013;
}

footer a:visited {
  color: darkviolet;
}