.Container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.Form {
  width: 400px;
  background: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}

.Form img {
  width: 100px;
  margin: 10px 0 40px;
}

.Form p {
  color: #ff3333;
  margin-bottom: 15px;
  border: 1px solid #ff3333;
  padding: 10px;
  width: 100%;
  text-align: center;
}

.Form input {
  flex: 1;
  height: 46px;
  margin-bottom: 15px;
  color: #777;
  font-size: 15px;
  width: 100%;
  border: 1px solid #ddd;
}

.Form input::placeholder {
  color: #999;
}

.Form button {
  color: #fff;
  font-size: 16px;
  height: 56px;
  border: 0;
  border-radius: 5px;
  width: 100%;
}

.Form hr {
  margin: 20px 0;
  border: none;
  border-bottom: 1px solid #cdcdcd;
  width: 100%;
}

.Form a {
  font-size: 16;
  font-weight: bold;
  color: #999;
  text-decoration: none;
}

.confirm-button:hover {
  background-color: #2b87e9;
  transition: 0.5s;
}